---
import Layout from '../layouts/Layout.astro';
import SiteFooter from '../components/SiteFooter.astro';

import { Code } from 'astro:components';
import { Image } from 'astro:assets';
import github from '../img/github.svg';
import anchor from '../img/anchor.svg';
import code from '../img/code.svg';
import box from '../img/box.svg';
---

<Layout title="Alexander">
	<div class="home-intro">
		<h1 class="title">Alexander</h1>
		<p class="subhead">Front-End Starter Kit</p>
		<div class="get">
			<p class="version">Version 1.0.3</p>
			<a class="button" href="https://github.com/samhermes/alexander">
				GitHub
			</a>
		</div>
	</div>

	<div class="home-container">
		<section class="home-about">
			<h2>What is Alexander?</h2>
			<p>Alexander is a minimal foundation for building websites. It goes beyond a CSS reset, but includes less than Bootstrap. It allows you to get going on a fresh web project really quickly.</p>
			<p><a class="button" href="/introduction">Get aquainted</a></p>
		</section>
		
		<section class="home-docs">
			<h2>Learn how to use Alexander</h2>
			<p>Alexander was built in two distinct levels, a base level that includes browser consistency styles and standard accessibility features, and an implementation level, broken out into elements and components. Include just the base level in your project and or include all for a jump start.</p>
			<ul class="docs-entry">
				<li>
					<a href="/base">
						<Image src={anchor} alt="" />
						Base
					</a>
				</li>
				<li>
					<a href="/elements">
						<Image src={code} alt="" />
						Elements
					</a>
				</li>
				<li>
					<a href="/components">
						<Image src={box} alt="" />
						Components
					</a>
				</li>
			</ul>
		</section>
		
		<section class="home-start">
			<div class="start-intro">
				<h2>Get started</h2>
				<p>Including Alexander in your own project is easy, and you can use only what you need. Start with the base bundle for unopinionated starter styles, and include individual components as needed.</p>
				<div class="bash-wrapper">
					<Code code={`npm install samhermes/alexander#1.0.3`} lang="bash" theme="houston" />
				</div>
			</div>
		</section>
	</div>

	<SiteFooter />
</Layout>

<style lang="scss">
	body {
		background-color: var(--new-tan-bg-dark);
	}

	.home-intro {
		position: relative;
		background: var(--background) url('/public/pattern.svg') center;
		background-size: 3rem;
		color: #fff;
		border: 1px solid var(--new-tan-border);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 4rem 0;
		margin: 1rem 1rem 0;
		border-radius: 1rem;
		min-height: calc(100vh - 2rem);

		.site-icon {
			color: var(--text-color);
		}

		.title {
			font-size: 4rem;
			font-weight: 500;
			margin-top: 0;
			margin-bottom: 0.5rem;
		}

		.subhead {
			font-size: 0.9rem;
			font-weight: 500;
			line-height: 1.2;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			margin-bottom: 2.5rem;
		}

		.get {
			display: flex;
			align-items: center;
			gap: 1.25rem;

			.button {
				background-color: #333;
			}
		}

		.version {
			font-size: 1.125rem;
			font-weight: 600;
			margin-bottom: 0;
		}
	}

	.home-container {
		padding: 0 0 8rem;
	}

	section {
		padding: 3rem 1rem;

		@media screen and (min-width: 37.5em) {
			padding: 4.5rem 2rem;
		}

		h2 {
			text-align: center;
			margin-bottom: 1.5rem;
		}

		p {
			font-size: 1.3rem;
		}

		ul {
			list-style: none;
			padding: 0;
		}

		.button {
			font-size: 1.125rem;
			padding: 0.8rem 1.6rem;
		}
	}

	.home-about {
		text-align: center;

		p {
			max-width: 48rem;
			margin: 0 auto 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.home-docs {
		background-color: #fff;
		border-radius: 1rem;
		padding: 3rem 1rem;
		text-align: center;
		margin: 0 1rem;

		@media screen and (min-width: 37.5em) {
			padding: 4.5rem 2rem;
		}

		p {
			max-width: 48rem;
			margin: 0 auto 3rem;
		}
	}

	.docs-entry {
		display: grid;
		grid-gap: 2rem;
		max-width: 68.75rem;
		margin: 0 auto 1rem;

		@media screen and (min-width: 37.5em) {
			grid-template-columns: repeat(3, 1fr);
		}

		li {
			font-size: 1.5rem;

			a {
				text-decoration: none;
				display: block;
				padding: 2rem;
				background-color: var(--new-tan-bg-dark);
				border: 2px solid var(--new-tan);
				border-radius: 0.8rem;
				box-shadow: 0 2px 3px var(--box-shadow);
				transition: border 0.2s;

				&:hover,
				&:focus,
				&:active {
                    border-color: var(--dark-gray);
				}
			}

			img {
				display: block;
				margin: 0.2rem auto 1rem;
			}
		}
	}

	.home-start {
		padding-bottom: 0;
		text-align: center;

		h2 {
			margin-bottom: 1.5rem;
		}

		p {
			margin-bottom: 2rem;

			@media screen and (min-width: 37.5em) {
				max-width: 48rem;
				margin: 0 auto 2rem;
			}
		}

		.bash-wrapper {
			max-width: 35rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
</style>
