---

---

<footer class="site-footer">
    <div class="footer-creator">
        <p>Created by <a href="https://samhermes.com">Sam Hermes</a></p>
    </div>
</footer>

<style lang="scss">
    .site-footer {
        padding: 1.5rem;
        border-top: 1px solid var(--new-tan-border);

        @media screen and (min-width: 50em) {
            padding: 1.5rem 3rem;
        }

        a {
            color: inherit;
        }

        p {
            margin-bottom: 0;
        }

        .subhead {
            text-transform: uppercase;
            letter-spacing: 0.03rem;
            font-size: 0.8rem;
        }
    }
</style>
