---
interface Props {
	title: string;
}

const { title } = Astro.props.frontmatter || Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a class="skip-link screen-reader-text" href="#site-main">Skip to main content</a>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--blue-dark: #070d59;
    
		--text-color: #303030;
		--box-shadow: #e7e7e7;
		--light-gray: #f7f7f7;
		--medium-gray: #dcdcdc;
		--dark-gray: #1e1e1e;

		--border-radius: 0.3rem;
		--border-radius-lg: 0.5rem;
	}
	*,*::before,*::after{box-sizing:border-box}body{margin:0;font-size:1rem;font-weight:400;line-height:1.5;color:#303030;background-color:#fff;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}[tabindex="-1"]:focus:not(:focus-visible){outline:0 !important}address{margin-bottom:1rem;font-style:normal;line-height:inherit}b,strong{font-weight:600}sub,sup{position:relative;font-size:0.75rem;line-height:0;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}figure{margin:0 0 1rem}img,picture,video,canvas{display:block;max-width:100%}img,svg{vertical-align:middle}img{height:auto}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}a{color:#303030}iframe{display:block;border:0}input,button,textarea,select{font:inherit}[hidden]{display:none !important}.screen-reader-text{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip-path:inset(50%);white-space:nowrap;border:0}.skip-link:focus{background-color:#fff;border:2px solid currentColor;clip:auto;left:0.5rem;top:0.5rem;width:auto;height:auto;padding:0.5rem 1rem;margin:0;z-index:100000}label{display:inline-block}button{border-radius:0}button:focus:not(:focus-visible){outline:0}input,button,select,optgroup,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button,select{text-transform:none}[role="button"]{cursor:pointer}select{word-wrap:normal}[list]::-webkit-calendar-picker-indicator{display:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;cursor:pointer}::-moz-focus-inner{padding:0;border-style:none}textarea{resize:vertical}fieldset{min-width:0;padding:0;margin:0;border:0}legend{float:left;width:100%;padding:0;margin-bottom:0.5rem;line-height:inherit}legend+*{clear:left}::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-text,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}[type="search"]{outline-offset:-2px;-webkit-appearance:textfield}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}blockquote{margin:0 0 1rem}blockquote:last-child{margin-bottom:0}h1,.heading-1,h2,.heading-2,h3,.heading-3,h4,.heading-4,h5,.heading-5,h6,.heading-6{margin-top:0;margin-bottom:0.5em;font-weight:600;line-height:1.2}h1:not(:first-child),.heading-1:not(:first-child),h2:not(:first-child),.heading-2:not(:first-child),h3:not(:first-child),.heading-3:not(:first-child),h4:not(:first-child),.heading-4:not(:first-child),h5:not(:first-child),.heading-5:not(:first-child),h6:not(:first-child),.heading-6:not(:first-child){margin-top:1em}h1,.heading-1{font-size:1.802rem}@media screen and (min-width: 50em){h1,.heading-1{font-size:2.625rem}}h2,.heading-2{font-size:1.602rem}@media screen and (min-width: 50em){h2,.heading-2{font-size:1.7708rem}}h3,.heading-3{font-size:1.424rem}@media screen and (min-width: 50em){h3,.heading-3{font-size:1.3958rem}}h4,.heading-4{font-size:1.266rem}@media screen and (min-width: 50em){h4,.heading-4{font-size:1.1875rem}}h5,.heading-5{font-size:1.125rem}@media screen and (min-width: 50em){h5,.heading-5{font-size:1.1042rem}}h6,.heading-6{font-size:1rem}pre,code,kbd,samp{font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;font-size:1rem;direction:ltr /* rtl:ignore */;unicode-bidi:bidi-override}pre{display:block;margin-top:0;margin-bottom:1rem;overflow:auto;font-size:1rem}pre code{font-size:inherit;color:inherit;word-break:normal}code{font-size:1rem;word-wrap:break-word}a>code{color:inherit}hr{margin:2rem 0;background-color:currentColor;border:0;height:0.125rem}ol,ul{padding-left:2rem}ol,ul,dl{margin-top:0;margin-bottom:1rem}ol:last-child,ul:last-child,dl:last-child{margin-bottom:0}ol ol,ul ul,ol ul,ul ol{margin-bottom:0}p{margin-top:0;margin-bottom:1rem}p:last-child{margin-bottom:0}table{caption-side:bottom;border-collapse:collapse}caption{padding-top:0.5rem;padding-bottom:0.5rem;text-align:left}th{font-weight:600;text-align:inherit;text-align:-webkit-match-parent}thead,tbody,tfoot,tr,td,th{border-color:inherit;border-style:solid;border-width:0}.accordion{margin-bottom:2rem}.accordion:last-child{margin-bottom:0}.js .accordion{margin-bottom:0.5rem}.js .accordion-heading{cursor:pointer;position:relative}.js .accordion-heading h2,.js .accordion-heading h3,.js .accordion-heading h4,.js .accordion-heading h5,.js .accordion-heading h6{font-size:1.3rem;margin:0}.js .accordion-heading button{background:none;border:none;border-radius:0;box-shadow:none;padding:0;margin:0;color:inherit;display:block;width:100%;text-align:left}.js .accordion-heading button:hover,.js .accordion-heading button:focus{text-decoration:underline}.js .accordion-content{overflow:hidden;height:0}@media screen and (prefers-reduced-motion: no-preference){.js .accordion-content{transition:height 0.3s cubic-bezier(0.65, 0.05, 0.36, 1)}}.js .accordion-content>:first-child{padding-top:1rem}.js .accordion-content>:last-child{margin-bottom:0;padding-bottom:2rem}.card{display:flex;flex-direction:column}.card .card-contents{padding:1.2rem 1.5rem 1.4rem}.card .card-image{order:-1}.card .card-image img{object-fit:cover;aspect-ratio:16 / 9;width:100%}.input-group{margin-bottom:1.5rem}.input-group:last-child{margin-bottom:0}label{margin-bottom:0.5rem}input[type="text"],textarea{display:block;width:100%;padding:0.3rem 0.6rem}.icon-list{list-style:none;padding-left:0}.icon-list li{position:relative;padding-left:2.2rem;margin-bottom:0.7rem}.icon-list li::before{content:'';position:absolute;top:0.25rem;left:0;width:1.3rem;height:1.3rem;background-size:1.3rem;background-repeat:no-repeat}[role="tablist"]{list-style:none;padding:0;margin:0;display:flex}[role="tablist"] button{display:block;background:none;border:none;color:#303030;padding:0;margin:0}[role="tabpanel"]:not([aria-hidden="false"]){display:none}

	body {
		font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		background-color: var(--light-gray);
	}
</style>
