---
import Layout from './Layout.astro';

import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
import PageNav from '../components/PageNav.astro';

const {frontmatter} = Astro.props;
---
<Layout title={frontmatter.title}>
    <SiteHeader />
    <div class="page">
        <PageNav />
          
        <main class="page-content" id="site-main">
            <h1>{frontmatter.title}</h1>
            <slot />
        </main>
    </div>
    <SiteFooter />
</Layout>

<style lang="scss">
    .page {
        padding: 1.5rem 1.5rem 4rem;
        min-height: calc(100vh - 8.75rem);
        margin: 0 auto;

        @media screen and (min-width: 50em) {
            padding: 2.5rem 3rem 4rem;
            display: grid;
            grid-gap: 3%;
            align-items: start;
            grid-template-columns: minmax(225px, 22%) minmax(0, 1fr);
        }
    }

    .page-content {
        font-size: 1.2rem;

        a {
            word-break: break-word;
        }

        .page-section {
            margin: 0 0 0.3rem;
            font-size: 1rem;
            font-weight: 600;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .page-title {
            margin-top: 0;
            margin-bottom: 1rem;

            @media screen and (min-width: 50em) {
                font-size: 2.6rem;
            }
        }

        p,
        li {
            code {
                font-size: 1rem;
                background: var(--light-gray);
                border: 1px solid #ddd;
                padding: 0.2em 0.5em;
                border-radius: 0.2em;
                word-wrap: break-word;

                @media screen and (min-width: 37.5em) {
                    font-size: 1.1rem;
                }
            }
        }
    }
</style>

<style is:global>
    .page-grid {
        display: grid;
        grid-gap: 1rem;
        list-style: none;
        margin: 2rem 0;
        padding: 0;

        @media screen and (min-width: 37.5em) {
            grid-template-columns: repeat(3, 1fr);
        }

        li {
            font-size: 1.2rem;

            a {
                text-decoration: none;
                display: block;
                padding: 1rem 1.5rem;
                border: 1px solid var(--medium-gray);
                background: #fff;
                box-shadow: 0 2px 3px #f1f1f1;
                border-radius: 0.8rem;
                transition: border 0.2s;

                &:hover {
                    border-color: var(--dark-gray);
                }
            }
        }
    }

    .stage {
        background-color: #fff;
        border: 1px solid var(--new-tan-border);
        border-radius: 0.4rem;
        padding: 2rem;
        margin: 2rem 0;
        position: relative;

        @media screen and (min-width: 50em) {
            padding: 3rem 10%;
        }
    }

    .stage-toggle {
        background: var(--new-tan-border);
        border: none;
        border-radius: 0 var(--border-radius) 0 var(--border-radius);
        font-size: 0.9rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.4rem 0.8rem;
    }

    .article-feature {
        p {
            margin-bottom: 0;

            &.link-text {
                text-decoration: underline;
            }
        }

        a {
            display: block;
            padding: 1rem 4rem 1rem 1.5rem;
            background-color: #fff;
            border: 1px solid var(--medium-gray);
            border-radius: 0.5rem;
            box-shadow: 0 2px 3px var(--box-shadow);
            text-decoration: none;
            position: relative;
        }

        svg {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translateY(-50%);
        }
    }

    .page-sources {
        margin-top: 4rem;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 0.5rem;
                font-size: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: inline-block;
                }
            }
        }
    }

    /*
 * Adjustments to elements and components for display on stage.
 */

 .js {
    .accordion-heading {
        button {
            padding: 1rem 6rem 1rem 1.5rem;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-radius: $border-radius $border-radius 0 0;

            @media screen and (prefers-reduced-motion: no-preference) {
                transition: background-color 0.2s;
            }

            &::after {
                content: '';
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
                background: url('../img/accordion/chevron-down.svg') no-repeat center;
                background-size: 2rem;
            }
        }
    }

    .accordion-content {
        padding: 0 1.5rem;
        border-bottom: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-radius: 0 0 $border-radius $border-radius;
    }

    .is-active {
        .accordion-heading {
            button {
                background: #fff;
                border-color: currentColor;

                &::after {
                    transform: translateY(-50%) scaleY(-1);
                }
            }
        }
        
        .accordion-content {
            background: #fff;
            border-color: currentColor;
        }
    }
}

input[type="text"],
textarea {
    border: 2px solid currentColor;
    border-radius: $border-radius;
}

.icon-list {
    li {
        &::before {
            background-image: url('../img/info.svg');
        }

        p {
            margin-bottom: 0;
        }
    }
}

[role="tablist"] {
    button {
        border-radius: $border-radius $border-radius 0 0;
        padding: 0.5rem 1rem;

        &[aria-selected="true"] {
            background: #fff;
        }
    }
}

[role="tabpanel"] {
    padding: 2rem 2.5rem;

    &[aria-hidden="false"] {
        background: #fff;
    }
}

.card {
    background-color: #fff;
    border: 1px solid var(--theme-color, "#333");
    border-radius: 0.4rem;
    overflow: hidden; /* To apply border radius to image */
}
</style>