---
import Layout from './Layout.astro';

import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
---
<Layout title="frontmatter.title">
    <SiteHeader />
    <div class="page">
        <nav class="page-nav">
            <!-- {% include 'page-nav.html' %} -->
        </nav>
          
        <main class="page-content" id="site-main">
            <slot />
        </main>
    </div>
    <SiteFooter />
</Layout>

<style lang="scss">
    .page {
        padding: 1.5rem 1.5rem 4rem;
        min-height: calc(100vh - 8.75rem);
        margin: 0 auto;

        @media screen and (min-width: 50em) {
            padding: 2.5rem 3rem 4rem;
            display: grid;
            grid-gap: 3%;
            grid-template-columns: minmax(225px, 22%) minmax(0, 1fr);
        }
    }

    .page-nav {
        margin-bottom: 2rem;

        @media screen and (min-width: 50em) {
            margin-bottom: 0;
            margin-top: 0.5rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .menu-toggle {
            width: 100%;
            display: block;
            margin-bottom: 1.2rem;
            background: var(--medium-gray);
            color: var(--text-color);
            font-weight: 600;
            border: none;
            border-radius: 0.3rem;
            padding: 0.5rem;

            @media screen and (min-width: 50em) {
                display: none;
            }
        }

        .nav-top {
            padding: 1rem 0 0;
            display: none;

            @media screen and (min-width: 50em) {
                display: block;
            }

            &.active {
                display: block;
            }

            >li {
                margin-bottom: 2rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .nav-parent {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        a {
            text-decoration: none;
            display: block;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }

    .page-grid {
        display: grid;
        grid-gap: 1rem;
        list-style: none;
        margin: 2rem 0;
        padding: 0;

        @media screen and (min-width: 37.5em) {
            grid-template-columns: repeat(3, 1fr);
        }

        li {
            font-size: 1.2rem;

            a {
                text-decoration: none;
                display: block;
                padding: 1rem 1.5rem;
                border: 1px solid var(--medium-gray);
                box-shadow: 0 2px 3px #f1f1f1;
                border-radius: 0.8rem;
                transition: box-shadow 0.3s;

                &:hover {
                    box-shadow: none;
                }
            }
        }
    }

    .page-content {
        font-size: 1.2rem;
        background: #fff;
        padding: 1.5rem 2rem;
        border: 1px solid var(--medium-gray);
        border-radius: 0.625rem;

        @media screen and (min-width: 50em) {
            padding: 3rem 4rem;
        }

        a {
            word-break: break-word;
        }

        .page-section {
            margin: 0 0 0.3rem;
            font-size: 1rem;
            font-weight: 600;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .page-title {
            margin-top: 0;
            margin-bottom: 1rem;

            @media screen and (min-width: 50em) {
                font-size: 2.6rem;
            }
        }

        p,
        li {
            code {
                font-size: 1rem;
                background: var(--light-gray);
                border: 1px solid #ddd;
                padding: 0.2em 0.5em;
                border-radius: 0.2em;
                word-wrap: break-word;

                @media screen and (min-width: 37.5em) {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .stage {
        background-color: rgba(var(--medium-gray), 0.2);
        border-radius: var(--border-radius);
        padding: 2rem;
        margin: 2rem 0;
        position: relative;

        @media screen and (min-width: 50em) {
            padding: 3rem 10%;
        }
    }

    .stage-toggle {
        background: var(--dark-gray);
        border: none;
        border-radius: 0 var(--border-radius) 0 var(--border-radius);
        color: #fff;
        font-size: 0.9rem;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.4rem 0.8rem;
    }

    .article-feature {
        p {
            margin-bottom: 0;

            &.link-text {
                text-decoration: underline;
            }
        }

        a {
            display: block;
            padding: 1rem 4rem 1rem 1.5rem;
            background-color: #fff;
            border: 1px solid var(--medium-gray);
            border-radius: 0.5rem;
            box-shadow: 0 2px 3px var(--box-shadow);
            text-decoration: none;
            position: relative;
        }

        svg {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translateY(-50%);
        }
    }

    .page-sources {
        margin-top: 4rem;

        ul {
            list-style: none;
            padding-left: 0;

            li {
                margin-bottom: 0.5rem;
                font-size: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    display: inline-block;
                }
            }
        }
    }
</style>